@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
@if(Context.Request.Path == "/SelectLanguage/Index")
{
    <span class="language-footer">@SharedLocalizer[requestCulture.RequestCulture.Culture.DisplayName]</span>
}
else
{
    <a class="language-footer" asp-controller="SelectLanguage" asp-action="Index"
        asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">
        @SharedLocalizer[requestCulture.RequestCulture.Culture.DisplayName]
    </a>
}