<html>
    <body>
        @model SubjectViewModel
        <div>@SharedLocalizer["Name"]: <input asp-for="@Model.Name" /></div>
        <div>@SharedLocalizer["Password"]: <input asp-for="@Model.Password" /></div>
        <form asp-controller="Subject" asp-action="Entry">
            <input type="submit" value=@SharedLocalizer["Entry"] />
        </form>
        <form asp-controller="Subject" asp-action="Create" method="POST">
            <input type="submit" value=@SharedLocalizer["Create"] />
        </form>
    </body>
</html>