<html>
    <body>
        @model SubjectViewModel
        <form asp-controller="Subject">
            <div class="body-content">@SharedLocalizer["Log in to the topic"]</div>
            <div class="welcome-field">@SharedLocalizer["Name"]: <input class="welcome-field" asp-for="Name" /></div>
            <div class="welcome-field">@SharedLocalizer["Password"]: <input class="welcome-field" asp-for="Password" /></div>
            <table class="welcome-field" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <input class="welcome-button" asp-action="Entry" type="submit" value=@SharedLocalizer["Entry"] />
                    </td>
                    <td>
                        <input class="welcome-button" asp-action="Create" type="submit" value=@SharedLocalizer["Create"] />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>