<div id = "RecordsData">
    @model RecordsViewModel
    <form asp-controller="Record">
        <div class="welcome-field">@SharedLocalizer["Your nickname*"]: 
            <input class="welcome-field" asp-for="Nickname" />
        </div>
        <select class="select-days" asp-for="SelectedRecordType" asp-items="Model.RecordTypes"></select>
        <input class="welcome-field" asp-for="NewMessage" />
        <input class="icon-button" type = "image" src = "/images/add-icon.png">
    </form>
    <table border="5">
        <tr>
            @foreach (var recordType in Model.RecordTypes)
            {
                <td>
                    @SharedLocalizer[recordType.Text]
                    @foreach (var row in Model.Records.Where(
                        r => r.RecordType.ToString() == recordType.Value))
                    {
                        <div>@row.Text</div>
                    }
                </td>
            }
        </tr>
    </table>
</div>