<head>
    <script type="text/javascript">
        function add() {
            var url = "/Record/AddRecord/";
            console.log("SubjectId: " + document.getElementById("SubjectId").value);
            console.log("CurrentDay: " + document.getElementById("CurrentDay").value);
            $.post(url, { 
                subjectId: document.getElementById("SubjectId").value, 
                currentDay: document.getElementById("CurrentDay").value,
                nickname: document.getElementById("Nickname").value,
                recordType: document.getElementById("RecordType").value,
                text: document.getElementById("NewMessage").value,
                }).done(function (response) {
                    $("#RecordsData").html(response);
            });
        }
    </script>
</head>

<div id = "RecordsData">
    @model RecordsViewModel
    @if(Model.CurrentDay == DateTime.Now.Date.ToString("dd.MM.yyyy"))
    {
        <div class="welcome-field">@SharedLocalizer["Your nickname*"]: 
            <input id="Nickname" class="welcome-field"/>
        </div>
        <select id="RecordType" class="select-days" asp-for="SelectedRecordType" asp-items="Model.RecordTypes"></select>
        <input id="NewMessage" class="welcome-field"/>
        <input class="icon-button" type = "image" src = "/images/add-icon.png" onclick="add()">
    }
    @if(Model.Records.Length > 0)
    {
        <table class="records-table">
            <tr>
                @foreach (var recordType in Model.RecordTypes)
                {
                    <td class="record-table-td records-table">
                        <div class="record-header">
                            @SharedLocalizer[recordType.Text]
                        </div>
                        @foreach (var row in Model.Records.Where(
                            r => r.RecordType.ToString() == recordType.Value))
                        {
                            @await Component.InvokeAsync("Record", row)
                        }
                    </td>
                }
            </tr>
        </table>
    }
</div>