<html>
    <head>
        <script type="text/javascript">
            function refresh() {
                var url = "/Record/GetRecordsData/";
                $.post(url, { 
                    subjectId: document.getElementById("SubjectId").value, 
                    currentDay: document.getElementById("CurrentDay").value 
                    }).done(function (response) {
                        $("#RecordsData").html(response);
                });
            }
        </script>
    </head>

    <body>
        @model RecordsViewModel
        <div class="body-content">@Model.SubjectName</div>
        <input type="hidden" id="SubjectId" asp-for="SubjectId" />
        <select id="CurrentDay" class="select-days" asp-for="CurrentDay" asp-items="Model.Days" onchange="refresh()" ></select>
        <input class="icon-button" type="image" src="/images/refresh-icon.png" onclick="refresh()">

        @Html.Partial("_Data", Model)
    </body>
</html>