.record-text {
    word-break: break-all;
    color: rgb(21, 49, 49);
    line-height: 1;
}

.sign {
    font-family: Georgia;
    font-style: oblique;
    color: indigo;
    line-height: 1.2;
    text-align: right;
}

.record-0 {
    background-color: rgb(240, 206, 13);
}

.record-1 {
    background-color: rgb(180, 80, 73);
}

.record-2 {
    background-color: rgb(82, 133, 82);
}

.stick {
    margin: 12px;
    padding: 10px;
    padding-bottom: 0px;
    border:1px solid #ccc;
    border-bottom:2px solid #bbb;
    border-top:1px solid #ddd;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}