body {
    padding-top: 75px;
}

.body-content {
    color: #8baabe;
    font-size: 140%;
    font-family: Arial;
    line-height: 2.5;
}

div, input {
    line-height: 1.5;
    font-family: Arial;
}

.welcome-field {
    width: 200px;
}

.welcome-button {
    width: 100px;
    color: darkcyan
}

.language-footer {
    color: rgb(35, 27, 68);
}