body {
    padding-top: 75px;
    background-image: url(/images/background.jpg);
}

.body-content {
    color: #8baabe;
    font-size: 140%;
    font-family: Arial;
    line-height: 2.5;
}

.welcome-field {
    width: 200px;
    line-height: 1.5;
    font-family: Arial;
}

.welcome-button {
    width: 100px;
    color: darkcyan;
    line-height: 1.5;
    font-family: Arial;
}

.language-footer {
    color: rgb(35, 27, 68);
}

.select-days {
    height: 30px;
    vertical-align: middle;
}

.icon-button {
    width: 30px;
    height: 30px;
    margin-left: 2px;
    cursor:pointer;
    border: none;
    vertical-align: middle;
}

.record-table-td {
    vertical-align: top;
    width: 30%;
}

.record-header {
    background-color: indigo;
    text-align: center;
    font-size: 22px;
}

.records-table {
    border: 5px solid indigo;
}

.new-record-field {
    height: 30px;
    font-size: 20px;
    margin-right: 7px;
}

.new-record-text {
    width: 50%;
}