body {
    padding-top: 75px;
    background-image: url(/images/background.jpg);
}

.body-content {
    color: #8baabe;
    font-size: 140%;
    font-family: Arial;
    line-height: 2.5;
}

div, input {
    line-height: 1.5;
    font-family: Arial;
}

.welcome-field {
    width: 200px;
}

.welcome-button {
    width: 100px;
    color: darkcyan
}

.language-footer {
    color: rgb(35, 27, 68);
}

.select-days {
    height: 30px;
    vertical-align: middle;
}

.icon-button {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor:pointer;
    border: none;
    vertical-align: middle;
}